.pg-container {
    display: grid;
    grid-template-areas: "stats shop" "upgrade shop" "main shop" "main shop";
    margin: 0 20px 0 20px;
    gap: 5px 5px;
}

.pg-stats-container {
    border: 2px solid;
    padding: 4px 3px 4px 3px;
    text-align: left;
    grid-area: stats;
    display: flex;
    border-radius: 15px;
    flex-wrap: wrap;
}

.pg-stat-image {
    height: 25px;
    border: none;
    margin: 0 2px 0 2px;
    position: relative;
    top: 1px;
}

.pg-stats {
    font-size: 25px;
    color: white;
    margin: 0 2px 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pg-upgrade-container {
   grid-area: upgrade;
   border: solid 2px;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   padding: 0 5px 0 0;
}

.pg-upgradeText {
    font-size: 25px;
    color: white;
    padding: 3px;
    margin: 0;
    justify-content: left;
    align-items: center;
    border: solid 2px white;
    border-radius: 20px 0 0 0;
    background-color: rgb(54, 54, 54);
    grid-column: span 2;
    height: 40px;
    position: relative;
    bottom: 2px;
    right: 1px;
}

.pg-upgrade {
    border: solid 2px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 5px 0 5px 5px;
}

.pg-info {
    border: solid 2px;
    border-radius: 10px;
    background-color: black;
    width: 120px;
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 2;
    padding: 5px;
}

.pg-upgrade-name {
    font-size: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pg-upgrade-description {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pg-main {
    border: solid 2px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgb(95, 54, 0), rgb(224, 127, 0));
    cursor: pointer;
    display: grid;
    grid-template: repeat(14, 1fr) / repeat(4, 1fr);
}

.pg-sell {
    font-size: 25px;
    color: white;
    padding: 3px;
    margin: 0;
    justify-content: left;
    align-items: center;
    border: solid 2px white;
    border-radius: 20px 0 0 0;
    background-color: rgb(150, 85, 0);
    position: relative;
    right: 1px;
    bottom: 1px;
    z-index: 1;
}

.pg-shop {
    grid-area: shop;
    display: grid;
    grid-template: 1fr 12fr / 1fr 1fr;
}

.pg-shop-title {
    border: solid 2px;
    border-radius: 20px 20px 0 0;
}

.pg-shop-row {
    border: solid 2px;
    border-radius: 0 0 20px 20px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    grid-column: span 2;
    padding: 0 5px 5px 0;
    background: linear-gradient(180deg, rgb(51, 51, 51), black);
}

.pg-shop-item {
    border: solid 2px;
    border-radius: 20px;
    margin: 5px 0 0 5px;
    grid-template-columns: 50% 10% 40%;
    gap: 0 5px;
    padding: 5px;
}

.pg-shop-image {
    height: 35px;
    margin: 0;
    padding: 0;
}

.pg-item-name {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pg-item-description {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
}
