.t-folder {
    width: auto;
    height: auto;
    display: grid;
    grid-template: 30px 1fr 40px / repeat(3, 1fr);
    grid-gap: 10px;
}

textarea {
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}

#font {
    font-family: Abominish;
    src: url(/files/Abominish.ttf)
}

.t-button {
    justify-self: center;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.t-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}