.t-folder {
    width: auto;
    height: auto;
    display: grid;
    grid-template: 30px 1fr 30px / repeat(3, 1fr);
}

textarea {
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: 5px;
}

.t-button {
    justify-self: center;
    width: 100px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}