body {
    background-color: black;
    color: white;
    font-family: Papyrus;
}

h1 {
    font-size: 60px;
    color: lime;
    margin: 20px;
}

.test {
    color: red;
}

.bordered {
    height: 20px;
    width: 120px;
    background-color: lightblue;
    border: solid;
}

img {
    height: 256px;
    width: 256px;
    border-radius: 64px;
    border: transparent;
    margin: 15px;
}