body {
    background-color: black;
    color: white;
    font-family: Papyrus;
}

h1 {
    font-size: 60px;
    color: lime;
}

.test {
    color: red;
}

.bordered {
    border-radius: 10px;
    background-color: lightblue;
    border: solid;
}

.round-img {
    height: 256px;
    width: 256px;
    border-radius: 128px;
    border: transparent;
}