body {
    background-color: black;
    color: white;
    font-family: Papyrus;
    text-align: center;
}

h1 {
    font-size: 60px;
    color: lime;
    border: transparent;
    margin: 20px;
}

.test {
    color: red;
}

.back {
    text-align: left;
}

.bordered {
    background-color: lightblue;
    border: solid;
    height: 20px;
    width: 100px;
}

img {
    height: 256px;
    width: 256px;
    border-radius: 32px;
    border: transparent;
    margin: 15px;
}

button {
    background-color: gold;
}